
.contenedor {
    position: absolute;
    top: 100px;
    left: 5%;
    margin: 20px auto;
    width: 75%;
    height: fit-content;
}

.contenedor h1{
    position: relative;
    left: 18%;
    color: goldenrod;
}

.form {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form form {
    position: relative;

    height: max-content;
    width: 700px;
    padding: 10px;

    border-radius: 15px;
    box-shadow: 0px 0px 16px 5px #000 inset;
    background-color: rgba(0, 0, 0, 0.45);
}

.form h5 {
    margin: 15px;
    text-align: center;
    font-size: large;
    color: white;
}

.inputs input{
    position: relative;
    left: 25%;
    width: 24.87em;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
}

.error{
    max-width: 400px;
    position: relative;
    left: 26%;
    color: red;
    font-size: medium;

}

.form .checkCont {
    position: relative;
    left: 9%;
}

.heightWight h5 {
    position: relative;
}

.checkCont {
    height: 13.75em;
    width: 80%;
    box-shadow: 0px 0px 16px 5px #000 inset;
    background-color: rgba(0, 0, 0, 0.45);
    overflow-y: scroll;
    padding: 15px;
}

.UndordenedList {
    height: auto;
    column-count: 2;
}

.listItem {
    padding: 4px;
    color: goldenrod;
    
}

.listItem label{
    font-size: 25px;
}

.listItem input{
    position: relative;
    left: auto;
    height: 17px;
    width: 17px;
    border-radius: 15px;
}


.button{
    background-color: goldenrod;
    position: relative;
    left: 23%;
    width: 350px;
    height: 35px;
    border-radius: 10px;
    margin: 20px;
    font-size: large;
}

.button:disabled{
    background-color: rgb(87, 74, 0)enrod;
}

.stepsCont{
    position: relative;
    left: 30%;
    margin-top: 10px;
}

.stepByStep{
    position: relative;
    left: 25%;
    width: 24.87em;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
}

.preview{
    position: fixed;
    right: 5%;
    top: 300px;
}

@media (min-width:1300) {
    .preview{
        left: 63%;
    }
}

@media screen and (max-width:1170px) {
    .preview{
        display: none;
    }

    .contenedor{
        left: 20%;
    }

    .contenedor h1{
        left: -16%;
        text-align: center;
    }
}

@media screen and (max-width:857px) {
    .contenedor{
        left: 20%;
        width: 65%;
        top: 20%;
    }
}

@media screen and (max-width:550px) {
    .contenedor{
        left: 30%;
        width: 10em;
        top: 20%;
    }

    .inputs input{
        width: 17em;
        left: 20%;
    }

    .contenedor h1{
        left: -2%;
        text-align: center;
    }

    .form .checkCont {
        width: 15em;
        left: 20%;
    }

    .listItem label{
        font-size: 10px;
    }
    .button{
        left: 2%;
    }

    .listItem input{
        width: 10px;
        height: 10px;
    }
    .stepByStep{
        left: 12%;
    }
}

