@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.navContainer{
    position: fixed;
    background-color: rgb(0, 0, 0);
    min-height: 10%;
    width: 100vw;
    padding-left: 1em;
    padding-right: 3em;
    z-index: 3;
  
}

.navLogo img{
    position: relative;
    height: 4.37em;
    width: 17.5em;
}

.navList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navList div{
    justify-content: space-between;
    position: relative;    
    margin-top: 2px;
    list-style: none;
    font-size: large;
}

.navLink{
    justify-content: space-between;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    opacity: .5;
}

.navList .navLink:active,.navList .navLink:hover{
    opacity: 1;
}

.navSearch{
    position: relative;
    right: 5em;

}

.navSearch input{
    background-color: rgba(107, 107, 107, 0.25);
    border: 0px;
    height: 40px;
    border-radius: 1px;
    width: 200px;
    font: inherit;
    margin-bottom: 0;
    padding: 0px 15px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.navSearch input::placeholder{
    color:white;
}

.navSearch button{
    position: absolute;
    top: 0em;
    background-color: rgba(107, 107, 107, 0.25);
    border: 0px;
    height: 40px;
    margin-bottom: 0;
    width: auto;
    cursor: pointer;
    padding: 0px 15px;
    box-shadow: none;
    color: white;
}

.navSearchIcon{
    width: 20px;
    height: 20px;
}

.inBuild {
    position: absolute;
    width: 95px;
    height: 70px;
    left: 48%;
    top: 25%;
    transition: 0.5s;
}

.inBuild img{
    width: inherit;
    height: inherit;
    opacity: 0;
}

.inBuild1 {
    position: absolute;
    width: 80px;
    height: 70px;
    left: 56%;
    top: 25%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.inBuild1 img{
    width: inherit;
    height: inherit;
    opacity: 0;
}

.inBuild:hover img{
    opacity: 1;
}

.inBuild1:hover img{
    opacity: 1;
}

.menuIcon{
    color:white;
}

.menuResponsiveLi{
    position: relative;

    list-style: none;
}

.refreshIcon{
    color:white;
    position: relative;
    list-style: none;
    top: 0.1em;
    right: 2.5em;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.refreshIcon:hover{
    background-color: rgba(107, 107, 107, 0.25);
}


.checkbtn{
    position: relative;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menuResponsiveLi input{
    
}

@media (max-width:1222px) {
    .refreshIcon{
        right: 1em;
    }
}


@media (max-width:1145px) {
    .navSearch{
        right: 9em;
    }

    .navContainer{
        padding-left: 0;
        padding-right: 0;
    }

    .navLink{
        font-size: 10px;
        margin-left: 2em;
    }

    .refreshIcon{
        right: 1.6em;
    }

    .navSearch{
        right: 6em;
    }

    .navSearch button{
        top: 0em;
    }

    .navSearch input{
        width: 5em;
    }
}

@media (max-width:952px) {
    .navLogo img{
        height: 2.37em;
        width: 10.5em;
        margin-right: 1em;
    }
    
}

@media (max-width:858px) {

    .refreshIcon{
        position: relative;
        right: 19em;
    }
    .navSearch{
        bottom: 3em;
        right: 50%;
    }

    .navContainer .nav .navlist li .navLink{
        position: absolute;
        left: 50em;
    }

    .navSearch input{
        width: 300px;
    }

    .navLogo{
        display: none;
    }

    .navList{
        position: absolute;
        width: 100%;
        right: 99%;
        top: 1em;
        right: 0em;
        height: 15vh;
        background-color: black;
    }
}

@media (max-width:530px) {
    .navSearch{
        right: 74%;
    }
}

@media (max-width:455px) {
    .navSearch{
        right: 86%;
    }
}
@media (max-width:425px) {
    .navSearch{
        right: 92%;
    }
}
@media (max-width:412px) {
    .navSearch{
        right: 95%;
    }
}
@media (max-width:395px) {
    .navSearch{
        right: 104%;
    }
}
@media (max-width:375px) {
    .refreshIcon{
        right: 17em;
    }
    .navSearch{
        right: 105%;
    }
    .navSearch input{
        width: 270px;
    }
}

@media (max-width:360px) {
    .navSearch{
        right: 112%;
    }
}

@media (max-width:320px) {
    .navSearch{
        right: 122%;
    }
    .navSearch input{
        width: 215px;
    }

    .refreshIcon{
        right: 15.5em;
    }
}